<div class="container-fluid" >
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">小可爱</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </header>
    <div class="row">
        <aside class="col-xs-2">
            <nav class="nav flex-column">
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="static-1" title="用户权限">
                            <ng-template ngbPanelContent>
                                <a class="dropdown-item" href="">用户管理</a>
                                <a class="dropdown-item" href="">角色管理</a>
                                <a class="dropdown-item" href="permission">权限管理</a>
                            </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title="Simple">
                        <ng-template ngbPanelTitle>
                                <span>&#9733; <b>Fancy</b> title &#9733;</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <a class="dropdown-item" href="">AA</a>
                            <a class="dropdown-item" href="">AA</a>
                            <a class="dropdown-item" href="">aa</a>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <ngb-accordion [closeOthers]="true">
                        <ngb-panel id="static-1" title="Simple">
                                <ng-template ngbPanelContent>
                                    <a class="dropdown-item" href="">AA</a>
                                    <a class="dropdown-item" href="">aa</a>
                                    <a class="dropdown-item" href="">a</a>
                                </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2" title="Simple">
                            <ng-template ngbPanelTitle>
                                    <span>&#9733; <b>Fancy</b> title &#9733;</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <a class="dropdown-item" href="">a</a>
                                <a class="dropdown-item" href="">a</a>
                                 <a class="dropdown-item" href="">a</a>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                <a class="nav-link" href="#">link</a>
                <a class="nav-link" href="#">link</a>
                <a class="nav-link" href="#">link</a>
            </nav>
        </aside>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
    <footer></footer>
</div>  