/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
.header{
    margin-right: -15px;
    margin-left: -15px;
}

/*sider bar style*/
nav ngb-accordion a{
    display: block;
}